{% extends 'base.html.twig' %}

{% block title %}
	Payer votre commande
{%  endblock  %}

{% block body %}

<style>
	h1{
		margin-bottom: 50px;
	}

	#submit {
		margin: 25px auto 0 auto;
		display: block;
		
	}


</style>
	<h1 class="text-center">Payer votre commande</h1>

	<div class="container w-50">
		<form id="payment-form">
			<div id="card-element"><!--Stripe.js injects the Card Element--></div>

			<button id="submit" class="btn btn-success text-center">
				<div class="spinner hidden" id="spinner"></div>
				<span id="button-text">Payer avec stripe</span>
			</button>
			<p id="card-error" role="alert"></p>
		</form>
	</div>
	
{%  endblock  %}


{% block javascripts %}
	{{ parent() }}
	<script src="https://js.stripe.com/v3/"></script>

	<script>
		const clientSecret = '{{ clientSecret }}'
		const stripe = Stripe("pk_test_51J1yCfEGMtU5V1DR124yK4YS3Gu2MgS9sGiQXgb2iOgVml6Ifdem3UJIUm5PN3v2uZxFX9BsVqzgH3YijVM9aMSe00lakIcXr9");
		const elements = stripe.elements();

		const card = elements.create("card");
		// Stripe injects an iframe into the DOM

		setTimeout(function () {
			card.mount("#card-element");
			card.on("change", function (event) { // Disable the Pay button if there are no card details in the Element
			document.querySelector("button").disabled = event.empty;
			document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
			});
			const form = document.getElementById("payment-form");
			form.addEventListener("submit", function (event) {
				event.preventDefault();
			// Complete payment when the submit button is clicked
				stripe
					.confirmCardPayment(clientSecret, {
						payment_method: {
						card: card
						}
					})
					.then(function (result) {
						if (result.error) { // Show error to your customer
							console.log(result.error.message);
						} else { // The payment succeeded!
							console.log(result);

							// Une fois le formulaire de CB soumis, la commande est validée et redirection vers le PurchasePaymentSuccessController
							window.location.href = "{{ url('purchase_payment_success', {'id': purchase.id}) }}";
						}
					});
			});

		}, 10);

		card.on("change", function (event) { // Disable the Pay button if there are no card details in the Element
			document.querySelector("button").disabled = event.empty;
			document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
		});
		const form = document.getElementById("payment-form");
		form.addEventListener("submit", function (event) {
			event.preventDefault();
			// Complete payment when the submit button is clicked
			stripe.confirmCardPayment(clientSecret, {
				payment_method: {
				card: card
				}
			})
			.then(function (result) {
				if (result.error) { // Show error to your customer
					console.log(result.error.message);
				} else { // The payment succeeded!
					console.log(result);
				}
			});
		});
	</script>


{%  endblock  %}
