<div class="card border-{{cardBorder}} m-3">
	<div class="card-header">Chaise anglaise</div>
	<img src="{{cardImage}}" alt="Image du produit" class="card-img-top">
	<div class="card-body">
		<h4 class="card-title">{{cardTitle}}</h4>
		<p class="card-text">{{cardDescription}}</p>
	</div>
	<div class="mx-auto p-2">
		<a class="btn btn-primary btn-sm mx-1" href="#">Détails</a>
		<a class="btn btn-success btn-sm mx-1" href="#">Ajouter au panier</a>
	</div>
</div>
